.table{
    margin-top: 20px;
    overflow:scroll;
    height: 400px;
    color:#6a5d5d;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

.table tr{
    display: flex;  /* Take all space when responsive*/
    justify-content: space-between;
}

/* Clean data */
.table td{
    padding: 0.6rem;
}